/* This selector makes all text in the body element use Google font Poppins with Serif as a backup. It also sets a background image and background color. */
body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* Selects all header elements to use display: flex. Uses flex-direction and align-items to match example*/
header {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* This selector selects all of the links in the nav_links class to use flex as well as flex-direction:column to match the example */
.nav_links {
    display: flex;
    flex-direction: column;
}

/* This styles all of the header elements that are direct children of the card class. It applies the necessary requirements from the rubric. */
.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* This second selector continues to style the card class, removing extra white space beyond the curved corners as they are div tags in the card class. */
div.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display:flex;
}

/* This keyframes segment establishes the beginning properties (opacity 0 and 25px wide) and moves to the end properties (opacity 1 and 475px) it is titled mymove. */
@keyframes mymove {
    from {
        width: 25px;
        opacity: 0
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

/* This selects the logo in the header and has it complete the mymove keyframes properties over a 5 second duration */
header img {
    animation: mymove 5s;
}

/* This selector uses the :visited pseudoclass so that links remain blue even after being clicked on */
a:visited {
    top:20px;
    color: blue;
    text-decoration-style: solid;
}

/* This allows the card div tags to use flex, while using the flex-basis property to set an initial width of 450px for each card. It stretches the items and uses flex-direction column and flex  wrap to match the example. */
div.card {
    display: flex;
    flex-basis: 450px;
    /* align-items: stretch; */
    flex-direction: column;
    flex-wrap: wrap;
}

/* This modifies the pricing div tags to use flex and align them in the center, both vertically and horizontally. It uses wrap to match the example. */
div.pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* This selector styles all images within the gallery class. It sets the required attributes as outlined in the rubric. */
.gallery img {
    border: 10px solid #50C7C7;
    width: 300px;
    margin: 10px 10px 10px 10px;
}

/* This selector styles the gallery class to match the example. It uses flex and flex-wrap to fit the content on one page and move images to the next row if necessary. The justify-content centers all of the content in the class. */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* This media query sets specific styles for viewports with a minimum width of 900px */
@media screen and (min-width: 900px) {
    /* This header selector uses flex row to align all items in a row, the space-between allows the items to be as far to the left and right as possible. */
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /* This selects the navigation links class to use flex to align the items vertically centered, as well as putting them in a row. */
    .nav_links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* This selector sets the flex-basis using the flex property to allow for 0 stretching and for all cards to have a width of 275px */
    div.card {
        /* display: flex; */
        flex-basis: 275px;
    }

    /* This selector chooses all children that are headers of the body class with the child selector. The pseudoclass is applied to only select the first header in the body. The position is sticky and placed at the top so that it is always visible at the top of the screen when scrolling. */
    body > header:first-of-type {
        position: sticky;
        top: 0px;
    }
}

/* This media query selects for all users who prefer reduced motion, it then selects the logo through header img and ensures that no animation is shown for these uers. */
@media (prefers-reduced-motion) {
    header img {
        animation: none;
    }
}

/* This media query sets up numerous specifications to be made when the website is to be printed. */
@media print {
    /* This sets all text in the body to use Arial, with helvetica as a backup font. It also removes the background image for printing efficiency.  */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* This next set of selectors focuses on modifying the navigation links. It changes them to use flex-direction row to match the example, as well as to be spaced evenly apart. The nav tag's width is set to 100 to span across the entire viewport with even space. */
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    nav li a {
        align-content: space-evenly;
    }
    nav {
        width: 100%;
    }

/* This selecor selects the div tags with the pricing class to use flex. It does not wrap to match the example, and justify and align properties are used to match the example spacing. */
    div.pricing {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        justify-items: flex-end;
        align-items: flex-end;
    }

    /* This selector selects the div tags with the card classes. It applies a border and uses flex to have a column direction, as well as a flex-basis of 325px to set an initial width. */
    div.card {
        display: flex;
        border: solid 2px #45ADDD;
        flex-basis: 325px;
        flex-direction:column;
    }

    /* This selects the gallery class and id to make it so that all photos and the header are not shown in the print view. */
    #gallery, .gallery {
        display: none;
    }

    /* This selector selects the unordered list list tag, selecting the 2nd instance of each list item for the lists that appear on the cards. The ::after pseudoclass is used to place the emoji content after each selected list item. */
    main ul li:nth-child(2)::after {
        content: ' 👍';
    }
}